<div class="card text-dark mt-3">
    <div class="card-header bg-transparent">
        <h5 class="card-title">Enlaces de Interés</h5>
        <p class="card-text">Mantenimiento</p>
    </div>
    <div class="card-body">

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/links']"><i
                    class="fas fa-long-arrow-alt-left"></i> Regresar</button>
        </div>

        <form class="mt-1" (ngSubmit)="f.form.valid &&guardar( f )" #f="ngForm">

            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Grupo:</label>
                    <select [(ngModel)]="enlace.ID_GRUPO" name="id_grupo" class="form-select" required>
                        <option *ngFor="let grupo of grupos" [value]="grupo.id"> {{ grupo.NOMBRE }}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Descripción:</label>
                    <div class="input-group mb-4">
                        <input type="tel" class="form-control" [(ngModel)]="enlace.TITULO" name="desc">
                    </div>
                </div>
                <div class="col-md-8">
                    <label class="form-label">Enlace:</label>
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control" [(ngModel)]="enlace.LINK" name="enlace">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div *ngIf="enlace.FECHA_AGREGADO" class="col-md-12">
                    <label class="form-label">Última actualización: <span class="badge bg-primary"> {{
                        enlace.FECHA_AGREGADO}} </span></label>
                </div>
            </div>

            <hr>
            <div class="form-group text-center">
                <button class="btn btn-primary w-50" type="submit">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button class="btn btn-danger w-50" type="button" *ngIf="enlace.id" (click)="eliminarEnlace()">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>

        </form>


    </div>
</div>